# Gradle files
.gradle/
build/
.idea/
local.properties
*.iml

# Android specific
captures/
.externalNativeBuild/
*.apk
*.ap_
*.aab
*.db
*.log
*.stacktrace

# User-specific files
*.swp
*.swo
*.idea/

# OS-specific
.DS_Store
Thumbs.db

# IntelliJ
out/

# NDK and other native files
obj/
libs/

# JetBrains
*.iws
*.ipr

# Gradle Wrapper
gradle-wrapper.jar
gradle-wrapper.properties

# Keystore files
*.jks
*.keystore
